# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
backend/venv/

# Environment Variables
.env
backend/.env

# IDE
.vscode/
.idea/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# -----------------------------
# Node.js / React
# -----------------------------
node_modules/
frontend/node_modules/

# Build files
dist/
build/

# -----------------------------
# Testing
# -----------------------------
.pytest_cache/
.coverage
htmlcov/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Misc
# -----------------------------
*.sqlite3

# Large dataset
dataset/PS_20174392719_1491204439457_log.csv

# Generated train-test split
dataset/X_train.csv
dataset/X_test.csv
dataset/y_train.csv
dataset/y_test.csv

# Upload files
backend/app/uploads/